<%= form_with(model: payment) do |form| %>
  <% if payment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
        <% payment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <div class="mb-4">
      <%= form.label :merchant_id, "支払い先", style: "display: block" %>
      <span class="text-xl">
        <%= @merchant.name %>
        <%= form.hidden_field :merchant_id, value: @merchant.id %>
      </span>
    </div>
    <div>
      <%= form.label :amount, "利用するポイント数", style: "display: block" %>
      <%= form.number_field :amount, class: "border border-black p-1 rounded-sm mt-1" %>
    </div>
    <div class="flex justify-center mt-8">
      <%= form.submit "決済", class: "border border-black p-1 rounded-sm flex" %>
    </div>
<% end %>
