<div id="<%= dom_id point_transaction %>">
  <p>
    <strong>User:</strong>
    <%= point_transaction.user_id %>
  </p>

  <p>
    <strong>Merchant:</strong>
    <%= point_transaction.merchant_id %>
  </p>

  <p>
    <strong>Transaction type:</strong>
    <%= point_transaction.transaction_type %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= point_transaction.amount %>
  </p>

  <p>
    <strong>Mission:</strong>
    <%= point_transaction.mission_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= point_transaction.description %>
  </p>

</div>
