<div id="<%= dom_id mission %>" class="p-5">
  <div class="mb-3">
    <h1 class="text-3xl">
      <%= mission.title %>
    </h1>
    <span>
      <% merchant = mission.respond_to?(:merchant_record) ? mission.merchant_record : (Merchant.find_by(id: mission.merchant_id) rescue nil) %>
      <%= merchant&.name || "-" %>
    </span>
  </div>
  <span>
    <%= mission.description %>
  </span>
  <span class="flex justify-end mt-3">
    <%= mission.point %>
    <span>ポイント</span>
  </span>
</div>
