<div id="<%= dom_id mission %>" class="p-5">
  <div class="mb-3">
    <h1 class="text-3xl">
      <%= mission.title %>
    </h1>
    <span>
      <% if mission.mission_admin.present? %>
        <%= mission.mission_admin.name %>
      <% elsif mission.merchant.present? %>
        <%= mission.merchant.name %>
      <% end %>
    </span>
  </div>
  <span>
    <%= mission.description %>
  </span>
  <span class="flex justify-end mt-3">
    <%= mission.point %>
    <span>ポイント</span>
  </span>
</div>
