<div id="<%= dom_id mission %>">
  <p>
    <strong>Merchant:</strong>
    <%= mission.merchant_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= mission.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= mission.description %>
  </p>

  <p>
    <strong>Point:</strong>
    <%= mission.point %>
  </p>

</div>
