<h2 class="text-center text-2xl mt-8">ミッション内容の確認</h2>
<div class="mt-6 mx-auto max-w-lg border p-4 rounded">
  <p>タイトル: <%= mission.title %></p>
  <p>説明: <%= mission.description %></p>
  <p>付与ポイント: <%= mission.point %></p>
  <%= form_with url: finalize_complete_missions_path, method: :post do |f| %>
    <%= hidden_field_tag :code, code %>
    <div class="flex justify-center mt-6">
      <%= f.submit "この内容で確定しポイントを取得", class: "bg-blue-500 px-4 py-2 rounded" %>
    </div>
  <% end %>
</div>