<div id="missions">
  <h1 class="m-9 flex justify-center text-3xl"> ecoPayミッション</h1>
  <% @missions.each do |mission| %>
    <%= link_to mission do %>
      <div id="<%= dom_id mission %>" class="flex flex-col m-auto border-[#2a5637] border w-[90vw] p-2 rounded-sm">
        <span>
          <% if mission.mission_admin.present? %>
            <%= mission.mission_admin.name %>
          <% elsif mission.merchant.present? %>
            <%= mission.merchant.name %>
          <% end %>
        </span>

        <span class="text-xl font-bold">
          <%= mission.title %>
        </span>

        <span class="ml-auto">
          <%= mission.point %>
          <span>ポイント</span>
        </span>
      </div>
    <% end %>
  <% end %>
</div>
