<p style="color: green"><%= notice %></p>

<%= render @mission %>

<div class="flex gap-5 justify-center mt-5">
  <%= link_to "ミッション一覧に戻る", missions_path, class: "border-[#016630] border p-3 rounded-lg cursor-pointer" %>

  <% if merchant_signed_in? %>
    <%= link_to "Edit this mission", edit_mission_path(@mission) %>
    <%= button_to "Destroy this mission", @mission, method: :delete %>
  <% end %>
</div>
