<p style="color: green"><%= notice %></p>

<%= render @mission %>

<div>
  <%= link_to "Back to missions", missions_path %>

  <% if merchant_signed_in? %>
    <%= link_to "Edit this mission", edit_mission_path(@mission) %>
    <%= button_to "Destroy this mission", @mission, method: :delete %>
  <% end %>
</div>
